a {
	text-decoration: none;
}
#additional {
	width: 100%;
}
#additional tr:nth-child(n+1) td:nth-child(2) {
	width: 10%;
}
#again {
	color: #fff;
	text-decoration: underline;
}
.attention {
	background: #FFE580;
	padding: 10px;
	width: 49%;
	margin: 0 auto;
	display: none;
}
body {
	margin: 0;
	font-family: sans-serif;
	padding-bottom: 500px;
}
.bold {
	font-weight: bold !important;
}
button {
	cursor: pointer;
	padding: 5px 16px;
	border-radius: 3px;
	background-image: linear-gradient(#c61a21, #a61b1e);
	border: none;
	color: #fff;
	box-shadow: #e62d34 0 1px 1px, inset rgba(0,0,0,0.25) 0 1px 1px;
}
button:hover {
	background-image: linear-gradient(#b2171d, #92181c);
}
button:active {
	background-image: linear-gradient(#921317, #8a171a);
}
footer {
	text-align: center;
	padding-top: 100px;
}
footer span.bold {
	font-weight: bold;
	font-size: 10pt;
}
header {
	width: 100%;
	height: 60px;
	background-color: #e31b23;
	background-image: linear-gradient(#e31b23, #b32024);
	display: table;
	position: absolute;
}
header > #inputs {
	margin-top: -5px;
	margin-left: 12%;
}
header > #inputs > a {
	font-size: 12px;
	text-shadow: none;
	color: #fff;
	font-weight: normal;
	letter-spacing: 0;
	text-decoration: underline;
	cursor: pointer;
}
header > #user {
	float: right;
}
header > #user > .username {
	background: #fff;
	padding: 3px 10px;
	margin: 16px;
	cursor: pointer;
	border-radius: 2px;
	color: #e31b23;
	font-family: Arial;
	font-weight: bold;
}
header > #user > .username:hover {
	box-shadow: 0px 0px 3px #e31b23 inset;
	background: #FFF4F4;
}
.howto {
	background: #ececec;
	text-align: center;
	width: 45%;
	margin: 0 auto;
	padding: 25px;
	border-radius: 5px;
	padding-right: 50px;
}
.howto img {
	border-radius: 4px;
	margin-bottom: 10px;
	opacity: .8;
	box-shadow: 0px 0px 12px #9B9B9B;
}
.howto span {
	font-size: 50px;
	float: left;
	color: #BBBBBB;
	font-weight: bold;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #fff;
	margin: 1em 0;
	padding: 0;
}
input {
	border-radius: 2px;
	padding: 6px 10px;
	border: 1px solid #882629;
	width: 150px;
	padding-right: 30px;
	background: #333333;
	color: #fff;
	
}
#logo {
	cursor: pointer;
	color: #fff;
	font-family: Arial;
	font-weight: bold;
	font-size: 32px;
	letter-spacing: 1;
	margin: 0;
	padding: 0px 0px 0px 0px;
	margin-left: 20px;
	float: left;
	text-shadow: 0px 0px 2px #FFF, 1px 1px 1px #000;
}
#logo:hover {
	border-bottom: 3px solid #fff;
}
.notp {
	font-size: 24pt;
}
select {
	cursor: pointer;
	background-image: linear-gradient(#c61a21, #a61b1e);
	color: #fff;
	border: none;
	border-radius: 2px;
	box-shadow: #e62d34 0 1px 1px, inset rgba(0,0,0,0.25) 0 1px 1px;
	padding: 5px 16px;
}
select option {
	background-color: #c61a21;
}
.share {
	text-align: center;
	font-size: 16pt;
	font-family: georgia;
	font-style: italic;
	display: none;
}
.share input {
	background-color: #fff;
	color: #444;
	width: 400px;
	text-align: center;
}
table {
	width: 100%;
	height: 60px;
}
table#main {
	margin-top: 0px !important;
}
td {
	vertical-align: middle;
}
td[colspan="2"] {
	background: #FAFAFA;
}
td:first-child, td:last-child {
	width: 25% !important;
}
.twitter-typeahead {
	top: 8px;
}
#wrapper {
	padding-top: 60px;
}
#wrapper > table {
	border-collapse: collapse;
	width: 100%;
	height: 0px;
	font-family: sans-serif;
}
#wrapper > table tr:nth-child(even) {
	background-color: #FFFCF0;
}
#wrapper > table tr:hover {
	background-color: #FFF9DF;
}
#wrapper > table td, th {
	border: 1px solid rgba(0, 0, 0, 0.06);
	text-align: center;
	padding: 5px;
}
#wrapper > table thead tr {
	background: #ECECEC;
}
#wrapper > table th {
	background-image: url(../img/asc.gif);
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center right;
}
#wrapper > th.headerSortUp { 
	background-image: url(../img/asc.gif); 
	background-color: #b32024;
	color: #fff;
}
#wrapper > th.headerSortDown { 
	background-image: url(../img/desc.gif); 
	background-color: #e31b23;
	color: #fff;
} 
#wrapper > table td:first-child, table td:last-child, table th:first-child, table th:last-child {
	width: 40%;
}
#additional td:first-child, #additional td:last-child {
	width: 40% !important;
}
/*Typehead*/
.tt-dropdown-menu {
	width: 153px;
	margin-top: 0px;
	padding: 0;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
}
header span {
	font-size: 12px;
	color: #000;
	text-shadow: none;
}
.tt-hint {
	color: #CCC;
}
.tt-suggestion {
	padding: 3px 10px;
	cursor: pointer;
}
.tt-suggestion.tt-cursor {
	color: #fff;
	background-color: #e31b23;
}
input.typeahead.tt-hint {
	top: -18px !important;
}
input.typeahead.tt-input {
	margin-top: -16px;
}
.center {
	text-align: center;
}